html, body{
	font-family: 'Thasadith', sans-serif;
	background: #0b5492;
	background-image:url('images/sky-blue-2.jpg');
	background-size: cover;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}
.fa{
	font-size: 24px;
	color: #fff;
}
.fa:hover{
	color: #0b5492;
}

h1{
	color: #0c3252;
	font-size: 16px;	
}
.container{
	background:rgba(179, 200, 218, 0.7);
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	box-sizing: border-box;
  padding: 50px;
}
.hero-text{
	font-size: 18px;
  line-height: 1.5;
	text-align: center;
	color:#eaeaea;
}
.hero-text p{
	font-size: 21px;
}
.site__title {
    color: #0c3252;	
		animation: hue 60s infinite linear;  
		-webkit-animation: hue 60s infinite linear;
		font-size: 56px;
		margin: 0 0 20px 0;
		text-align:center;
}
.controls input{
	background: transparent;
    border: 1px solid #fff;
    padding: 5px;
    color: #0b5492;
    font-size: 18px;
    width: 60%;
}
.submit{
	padding: 8px 14px;
		border: none;
		font-size: 18px;
    background: #0b5492;
    text-transform: uppercase;
    color: #fff;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
	color: #fff;
}
.social-icons{
	text-align: center;
	padding-top: 20px;
}
.social-icons ul li{
	list-style: none;
	display: inline-block;
	padding: 0 10px;
}
pre,code{
	color: red; 

}

/*  ################################## Media queries for responsive design layout #####################################*/


/* Iphone 4,5 portrait */

@media(min-width:320px){
	html, body{
		background: #0b5492;
		background-image:url('images/sky-blue-2.jpg');
		background-size: cover;		
	}
	h1{
		font-size: 18px;
	}
	.site__title{
		font-size:21px;
	}
	.hero-text,.hero-text p{
		font-size: 12px;
		margin-bottom: 10px;
	}
	.submit{
		margin-top:20px;
	}
}

/* Iphone 6 portrait */

@media(min-width:375px){
	h1{
		font-size: 17px;
	}
}

/* Iphone 6 plus portrait*/

@media(min-width:414px){
	html, body{
		background: #0b5492;
		background-image:url('images/sky-blue-2.jpg');
		background-size: cover;		
	}
	h1{
		font-size: 18px;
	}
	.site__title{
		font-size:21px;
	}
	.hero-text,.hero-text p{
		font-size: 12px;
	}
	.container{
		padding: 20px;
	}
	.controls input{
		background: transparent;
			border: 1px solid #fff;
			padding: 5px;
			color: #0b5492;
			font-size: 12px;
			width: 100%;
	}
}

/* Iphone 4 landscape */

@media(min-width:480px){}

/* Iphone 5 landscape */

@media(max-width:568px){}

/* Google nexus-7 portrait*/

@media(min-width:600px){}

/* Galaxy s3,s4 landscape*/

@media(min-width:640px){}

/* Ipad portrait */

@media(min-width:768px){
	html, body{
		background: #0b5492;
		background-image:url('images/sky-blue-2.jpg');
		background-size: cover;		
	}
	h1{
		font-size:32px;
	}
	.container{
		padding: 20px;
	}
	.hero-text,.hero-text p{
		font-size: 16px;
	}
}

/* Google Nexus-7 landscape */

@media(min-width:960px){
	.site__title{
		font-size:31px;
	}
	.hero-text{
		font-size: 14px;
	}
	.container{
		padding: 30px;
	}
}

/* Ipad landscape, small desktop */

@media(min-width:1024px){
	h1{
		font-size: 36px;
	}
	.container{
		padding: 50px;
	}
	.hero-text,.hero-text p{
		font-size: 18px;
	}
	.controls input{
		background: transparent;
			border: 1px solid #fff;
			padding: 5px;
			color: #0b5492;
			font-size: 18px;
			width: 60%;
	}
}

/* Laptop with MDPI Screen landscape */

@media(min-width:1280px){}

/* Mac book Pro, Laptop with HiDI screen landscape */

@media(min-width:1440px){}

/* MacBook Pro(High Resulation),Desktop Large screen */

@media(min-width:1680px){}

/* Desktop Large screen */

@media(min-width:1824px){}

/* 21-Inch iMac, Desktop Large screen */

@media(min-width:1920px){}

/* 27-Inch iMac*/

@media(min-width:2560px){}


